<!DOCTYPE html>
<html>
<head>
	<title>Events</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/underscore/underscore-min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/events.js"></script>
	<link rel="stylesheet" src="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<div>
		<header>
			<h1>Audition Scheduler</h1>
			<h2>Events</h2>
			<form action="/logout" method="POST">
				<input class="pull-right" type="submit" value="Sign Out"/>
			</form>
		</header>
	</div>
	<div id="eventStuff">
		<ul id="eventDataTemplate"></ul>
		<a href="/newEvent">Create a new audition event.</a>
		<script type="text/template" id="event-template">
				<a href="/event/<%= _id %>" ><%= title %>, <%= company %>, <%= date %>.</a><br>
		</script>
		
	</div>
	<a href="/newEvent">Create a new audition event.</a>
		
</body>
</html>