<!DOCTYPE html>
<html>
<head>
	<title>Event</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/underscore/underscore-min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/event.js"></script>
	<link rel="stylesheet" src="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<div>
		<header>
			<h1>Audition Scheduler</h1>
		</header>
	</div>
	<div id="eventStuff">
		<script type="text/template" id="event-template">
			<div id="eventDataTemplate">
				<h2><%= title %></h2>
				<p>Theater: <%= company %></p>
				<p>Description: <%= description %></p>
				<p>Location: <%= location %></p>
				<p>Date: <%= date %></p>
				<p>Time: <%= time %></p>
			</div>
		</script>
	</div>
	<div id="slotStuff">
	</div>
	<a href="/events">Back to Events page.</a>
</body>
</html>