<!DOCTYPE html>
<html>
<head>
	<title>Sign In</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/underscore/underscore-min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/app.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Tangerine|Lora' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<a href="/"><h1 class="navbar-text" id="navTitle">Audition Scheduler</h1></a>
		<div class="navbar-right btnNav" id="navInUpBtns">
			<a class="btn btnRed btnNav" href="/signin">Sign In</a>
			<a class="btn btnRed btnNav" href="/signup">Sign Up</a>
		</div>
		<div class="navbar-right btnNav" id="navOutBtns">
			<form action="/logout" method="POST">
				<input class="btn btnRed btnNav" type="submit" value="Sign Out"/>
			</form>
		</div>
	</nav>
	<div class="container signUpIn outer">
		
		<header>
			<h1>Audition Scheduler</h1>
		</header>
		<div>
			<p>Create theatrical audition events.  Actors can sign up for slots, sharing the piece they plan to perform at the audition to help prevent monologue duplication.  It can work for musical autditions, so accompanyists know which songs auditioners will sing.  Feel free to use it as a way to organize classes too.</p>
		</div>
	</div>
</body>
</html>