<!DOCTYPE html>
<html>
<head>
	<title>Create Event</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/underscore/underscore-min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/app.js"></script>
	<link rel="stylesheet" src="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body class="something">
	<h1>Create Event</h1>
	<form method="post" action="/newEventData">
		<div>
			<input type"text" name="event[title]" placeholder="Title" required>
		</div>
		<div>
			<input type"text" name="event[company]" placeholder="Theater/Conpany/School" required>
		</div>
		<div>
			<textarea name="event[description]" placeholder="Description" required></textarea>
		</div>
		<div>
			<label>Date
				<input type="date" name="event[date]" required>
			</label>
		</div>
		<div>
			<label>Start Time
				<input type="time" name="event[time]" default="9:00am" required>
			</label>
		</div>
		<div>
			<input type"text" name="event[location]" placeholder="Address" required>
		</div>
		<button>Create</button>
	</form>
</body>
</html>