<!DOCTYPE html>
<html>
<head>
	<title>Create Event</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/underscore/underscore-min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/app.js"></script>
	<script src="/static/newEvent.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Tangerine|Lora' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">

</head>
<body>
	<nav class="navbar navbar-inverse">
		<a href="/"><h1 class="navbar-text" id="navTitle">Audition Scheduler</h1></a>
		<div class="navbar-right btnNav" id="navInUpBtns">
			<a class="btn btnRed btnNav" href="/signin">Sign In</a>
			<a class="btn btnRed btnNav" href="/signup">Sign Up</a>
		</div>
		<div class="navbar-right btnNav" id="navOutBtns">
			<form action="/logout" method="POST">
				<input class="btn btnRed btnNav" type="submit" value="Sign Out"/>
			</form>
		</div>
	</nav>
	<div class="container outer">
		<header>
			<h1>Create Event</h1>
		</header>
		<form method="post" action="/newEventData">
			<div class="form-group">
				<input type"text" class="form-control" name="event[title]" placeholder="Title" required>
			</div>
			<div class="form-group">
				<input type"text" class="form-control" name="event[company]" placeholder="Theater/Company/School" required>
			</div>
			<div class="form-group">
				<textarea name="event[description]" class="form-control" placeholder="Description" required></textarea>
			</div>
			<div class="form-group">
				<label>Date
					<input type="date" class="form-control" name="event[date]" required>
				</label>
			</div>
			<div class="form-group">
				<label>Start Time
					<input type="time" class="form-control" name="event[time]" default="9:00am" required>
				</label>
			</div>
			<div class="form-group">
				<input type"text" class="form-control" name="event[location]" placeholder="Address" required>
			</div>
			<button class="btn btnRed" id="eventCreateBtn">Create</button>
			<p id="userOnly">You must be signed in to save an event.</p>
		</form>
		<br>
		<a href="/events"><h1 class="textRed">Back to Events page.</h1></a>
	</div>

</body>
</html>