<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/underscore/underscore-min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/app.js"></script>
	<link rel="stylesheet" src="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<h1>Here is a profile of you!</h1>
	<a href="/newEvent">Create a new audition event.</a>
</body>
</html>