<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/underscore/underscore-min.js"></script>
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/app.js"></script>
	<link rel="stylesheet" src="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<header>
		<h1>Audition Scheduler</h1>
		<h2>Create a New Account</h2>
	</header>
	<form method="post" action="/signingUp">
		<div>
			<input type"email" name="user[email]" placeholder="email" required>
		</div>
		<div>
			<input type"text" name="user[name]" placeholder="name" required>
		</div>
		<div>
			<input type"tel" name="user[phone]" placeholder="phone number" required>
		</div>
		<div>
			<input type="password" name="user[password]" placeholder="password" required>
		</div>
		<div>
			<input type="password" name="confirm" placeholder="confirm password" required>
		</div>
		<button>Sign Up</button>
	</form>
</body>
</html>